{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Captcha - Register{% endblock %}

{% block page_content %}


<div class="page-header">
    <h1>Register</h1>
</div>
<div class="col-md-4">
    <form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.email) }}
  {{ wtf.form_field(form.username) }}
  {{ wtf.form_field(form.password) }}
  {{ wtf.form_field(form.password2) }}
  <div class="form-group  required"><label class="control-label" for="password2">Gender</label>
  {{ wtf.form_field(form.gender) }}
  </div>
  {{ wtf.form_field(form.birthdate) }}
  {{ wtf.form_field(form.blood_group) }}
  {{ wtf.form_field(form.mobile_number) }}

   {{ wtf.form_field(form.address)  }}
  {{ wtf.form_field(form.city) }}
  {{ wtf.form_field(form.country) }}
 {{ wtf.form_field(form.pincode) }}
  <div class="form-group "><span><img id='img' src="/static/{{img}}" width="200" height="50"></span>
  <span><button id="recaptcha" type="button" class="btn btn-default"><img id="cap" src="/static/captcha.png" width="70" height="40"></button>
</span>
  </div>
  {{ wtf.form_field(form.captcha) }}
  {{ wtf.form_field(form.submit) }}

</form>
</div>

{% endblock %}
{% block scripts %}
  {{super()}}
  <script type=text/javascript>
      $(function() {
          $('button#recaptcha').click(function() {
              $.ajax({
                  cache: false,
                  method: 'GET',
                  url: '/auth/recaptcha',

                  success: function(response) {
                      // $('#img').load(response.url);
                      $('img#img').attr('src', response.url);
                      console.log(response);
                  },
                  error: function(error) {
                      console.log(error);
                  }
              });
          });
      });
  </script>
{% endblock %}
