<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <table width="100%">
        <tr>
            <td>First Name</td>
            <td>Middle Name</td>
            <td>Last Name</td>
            <td>Gender</td>
            <td>DOB</td>
            <td>Blood Group</td>
            <td>Address</td>
            <td>City</td>
            <td>Country</td>
            <td>Pincode</td>
            <td>Mobile NO</td>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.middle_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.dob }}</td>
                <td>{{ user.blood_group }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.pincode }}</td>
                <td>{{ user.mobile_number }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
