
{% extends "base.html" %}

{% block content %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<style type="text/css">
	/**
	 * Override feedback icon position
	 * See http://formvalidation.io/examples/adjusting-feedback-icon-position/
	 */
		#eventForm .form-control-feedback {
		    top: 0;
		    right: -15px;
		}
	</style>

	<script type=text/javascript>
		$(function() {
			$('button#recaptcha').click(function() {
				$.ajax({
					cache: false,
					method: 'GET',
					url: '/recaptcha',

					success: function(response) {
						// $('#img').load(response.url);
						$('img').attr('src', response.url);
						console.log(response);
					},
					error: function(error) {
						console.log(error);
					}
				});
			});
		});
	</script>
	<!-- <div class="row" > -->
          <div class="col-lg-6">
            <div class="well bs-component">

    <form action="" method="post" name="registration" class="form-horizontal" >
		<fieldset>
			<legend><h1>Register</h1></legend>
    	{{ form.hidden_tag() }}

    	<!-- <tr>
			<td align="right">First Name:</td>
			<td>{{ form.first_name(size=30) }}
    		{% for error in form.first_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>
    	</tr> -->

		<div class="form-group">
      <label for="inputFirstName" class="col-lg-3 control-label">First Name</label>
      <div class="col-lg-8">
		  {{ form.first_name(class="form-control") }}
		  {% for error in form.first_name.errors %}
			  <span style="color: red;" >[{{ error }}]</span>
		  {% endfor %}
	  </div>
  </div>

  <div class="form-group">
<label for="inputMiddleName" class="col-lg-3 control-label">Middle Name</label>
<div class="col-lg-8">
	{{ form.middle_name(class="form-control") }}
	{% for error in form.middle_name.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</div>
</div>

<div class="form-group">
<label for="inputLastName" class="col-lg-3 control-label">Last Name</label>
<div class="col-lg-8">
  {{ form.last_name(class="form-control") }}
  {% for error in form.last_name.errors %}
	  <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</div>
</div>

<div class="form-group">
  <label class="col-lg-3 control-label">Gender</label>
  <div class="col-lg-8">
	<div class="radio">
		{{ form.gender }}
  	  {% for error in form.gender.errors %}
  		  <span style="color: red;">[{{ error }}]</span>
  	  {% endfor %}
	</div>
  </div>
</div>

<div class="form-group">
<label for="inputBirthDate" class="col-lg-3 control-label">Birth Date</label>
<div class="col-lg-8">
	{{ form.birthdate(class='datepicker') }}
    {% for error in form.birthdate.errors %}
  	  <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</div>
</div>

<div class="form-group">
  <label for="bloodGroup" class="col-lg-3 control-label">Blood Group</label>
  <div class="col-lg-8">
	  {{ form.blood_group(class="form-control")}}
  	{% for error in form.blood_group.errors %}
  		<span style="color: red;">[{{ error }}]</span>
  	{% endfor %}

  </div>
</div>

<div class="form-group">
<label for="inputMobileNumber" class="col-lg-3 control-label">Mobile NO.</label>
<div class="col-lg-8">
	{{ form.mobile_number(class="form-control")}}
    {% for error in form.mobile_number.errors %}
  	  <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</div>
</div>



<div class="form-group">
<label for="inputAddress" class="col-lg-3 control-label">Address</label>
<div class="col-lg-8">
	{{ form.address(class="form-control")}}
	{% for error in form.address.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</div>
</div>

<div class="form-group">
<label for="inputCity" class="col-lg-3 control-label">City</label>
<div class="col-lg-8">
	{{ form.city(class="form-control")}}
	{% for error in form.city.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</div>
</div>

<div class="form-group">
<label for="inputCounrty" class="col-lg-3 control-label">Counrty</label>
<div class="col-lg-8">
	{{ form.country(class="form-control")}}
	{% for error in form.country.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</div>
</div>

<div class="form-group">
<label for="inputPinCode" class="col-lg-3 control-label">Pin Code</label>
<div class="col-lg-8">
	{{ form.pincode(class="form-control")}}
	{% for error in form.pincode.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</div>
</div>

<div class="form-group">

	<span class="col-lg-offset-4"><img id='img' src="/static/{{img}}" width="200" height="50"></span>
	<span><button id="recaptcha" type="button" class="btn btn-primary btn-xs">ReCaptcha</button>
</span>
</div>
<!-- </div> -->

<div class="form-group">
<label for="inputCaptcha" class="col-lg-3 control-label">Enter Captcha</label>
<div class="col-lg-8">
	{{ form.captcha(class="form-control")}}
	{% for error in form.captcha.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</div>
</div>


<div class="form-group">
  <div class="col-lg-8 col-lg-offset-3">
	<!-- <button type="reset" class="btn btn-default">Cancel</button> -->
	<button id="submit" type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
    </form>
</div>
</div>
<!-- </div> -->

{% endblock %}
